# Variable

### Create a variable named carname and assign the value Volvo to it.

In [112]:
carName = "Volvo"
print(carName)

Volvo

### Create a variable named x and assign the value 50 to it.

In [2]:
x = 50
print(x)

50

### Display the sum of 5 + 10, using two variables: x and y.

In [3]:
x=5
y=10
print(x+y)

15

### Create a variable called z, assign x + y to it, and display the result.

In [4]:
z= x+y
print(z)

15

### Remove the illegal characters in the variable name:

In [5]:
myName="Alaswad"
print(myName.strip("d"))

Alaswa

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [6]:
x=y=z=5
print([x, y, z])

[5, 5, 5]

### The following code example would print the data type of x, what data type would that be?

In [113]:
x = 5

int

### The following code example would print the data type of x, what data type would that be?

In [114]:
x = "Hello World"

str

### The following code example would print the data type of x, what data type would that be?

In [115]:
x = 20.5

float

### The following code example would print the data type of x, what data type would that be?

In [116]:
x = ["apple", "banana", "cherry"]

list

### The following code example would print the data type of x, what data type would that be?

In [117]:
x = ("apple", "banana", "cherry")

Tuple

### The following code example would print the data type of x, what data type would that be?

In [118]:
x = {"name" : "John", "age" : 36}

dictionary

### The following code example would print the data type of x, what data type would that be?

In [119]:
x = True

boolen

### Insert the correct syntax to convert x into a floating point number.

In [14]:
x = 5
x =   float(x)

print(x)

5.0

### Insert the correct syntax to convert x into a integer.

In [15]:
x = 5.5
x =   int(x)

print(x)

5

### Use the len method to print the length of the string.

In [16]:
x = "Hello World"
print(len(x))

11

### Get the first character of the string txt.

In [17]:
txt = "Hello World"

In [18]:
print(txt[0])

H

### Get the characters from index 2 to index 4 (llo).

In [19]:
txt = "Hello World"

In [20]:
print(txt[2:5])

llo

### Return the string without any whitespace at the beginning or the end.

In [21]:
txt = " Hello World "

In [22]:
print(txt.strip())

Hello World

### Convert the value of txt to upper case.

In [23]:
txt = "Hello World"

In [24]:
print(txt.upper())

HELLO WORLD

### Convert the value of txt to lower case.

In [25]:
txt = "Hello World"

In [26]:
print(txt.lower())

hello world

### Replace the character H with a J.

In [27]:
txt = "Hello World"

In [28]:
print(txt.replace("H","j"))

jello World

### Using format function to print the age

In [29]:
age = 36
txt = "My name is John, and I am "

In [30]:
print("My name is John and I am {}".format(age))

My name is John and I am 36

In [31]:
print(f"My name is John and I am {age}")

My name is John and I am 36

### The statement below would print a Boolean value, which one?

In [32]:
print(10 > 9)

True

True

In [33]:
print(10 == 9)

False

False

In [34]:
print(10 < 9)

False

False

### Multiply 10 with 5, and print the result.

In [35]:
x=10
y=5
z=x*y
print(z)

50

### Divide 10 by 2, and print the result.

In [36]:
x=10
y=5
z=x/y
print(z)
print(int(z))

2.0
2

### Create a list and check if the value in this list or not

In [125]:
myList=[1,2,3,2]
print(myList)

[1, 2, 3, 2]

In [126]:
myList.count(2)

2

### Use the correct comparison operator to check if 5 is not equal to 10.

In [127]:
if 5!=10:
    print("5 is not equal to 10")
    
else:
    print("5 is equal to 10")

5 is not equal to 10

### Use the correct logical operator to check if at least one of two statements is True.

In [128]:
if 5==5 or 5>10:
    print("true")

true

### Print the second item in the fruits list.

In [129]:
fruits = ["apple", "banana", "cherry"]

In [130]:
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [131]:
fruits[0]="kiwi"

In [132]:
print(fruits)

['kiwi', 'banana', 'cherry']

###  Use the append method to add "orange" to the fruits list.

In [133]:
fruits.append("orange")

In [134]:
print(fruits)

['kiwi', 'banana', 'cherry', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [135]:
fruits.insert(1,"lemon")

In [136]:
print(fruits)

['kiwi', 'lemon', 'banana', 'cherry', 'orange']

### Use the remove method to remove "banana" from the fruits list.

In [137]:
fruits.remove("banana")

In [138]:
print(fruits)

['kiwi', 'lemon', 'cherry', 'orange']

### Use negative indexing to print the last item in the list.

In [139]:
print(fruits[-1])

orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [140]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [141]:
print([fruits[2:5]])

[['cherry', 'orange', 'kiwi']]

### Use the correct syntax to print the number of items in the list.

In [142]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [143]:
print(len(fruits))

7

### Use the correct syntax to print the first item in the fruits tuple.

In [144]:
fruits = ("apple", "banana", "cherry")

In [145]:
print(fruits[0])

apple

### Use the correct syntax to print the number of items in the fruits tuple.

In [146]:
fruits = ("apple", "banana", "cherry")

In [147]:
print(len(fruits))

3

### Use the add method to add "orange" to the fruits set.

In [154]:
fruits = {"apple", "banana", "cherry"}

In [155]:
fruits.add("orange")

In [156]:
print(fruits)

{'banana', 'cherry', 'apple', 'orange'}

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [175]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]

In [176]:
more_fruits= set(more_fruits)

In [177]:
fruits= list(fruits) + list(more_fruits)

In [178]:
print(set(fruits))

{'grapes', 'orange', 'cherry', 'banana', 'mango', 'apple'}

### Use the remove method to remove "banana" from the fruits set.

In [183]:
fruits = {"apple", "banana", "cherry"}

In [184]:
fruits= list(fruits)

In [185]:
print(fruits)

['banana', 'cherry', 'apple']

In [186]:
fruits.remove("banana")

In [187]:
print(set(fruits))

{'apple', 'cherry'}

### Use the get method to print the value of the "model" key of the car dictionary.

In [188]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [189]:
print(car.get("model"))

Mustang

### Change the "year" value from 1964 to 2020.

In [190]:
car.update({"year" :2020})

In [191]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Add the key/value pair "color" : "red" to the car dictionary.

In [192]:
car.update({"color":"red"})

In [193]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

### Use the pop method to remove "model" from the car dictionary.

In [194]:
car.pop("model")

'Mustang'

In [195]:
print(car)

{'brand': 'Ford', 'year': 2020, 'color': 'red'}

### Use the clear method to empty the car dictionary.

In [196]:
car.clear()

In [197]:
print(car)

{}

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [198]:
a=5
b=6

if a==b:
    print("1")
if a>b:
    print("2")
else:
    print("3")

3

### This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

In [199]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

### Use the correct short hand syntax to write the following conditional expression in one line:

In [200]:
n=5
x=lambda n: "Yes" if n > 2 else "No"

In [201]:
x(n)

'Yes'

### Print i as long as i is less than 6.

In [202]:
i=0

In [203]:
while i<5:
    i+=1
    print(i)

1
2
3
4
5

### Stop the loop if i is 3.

In [204]:
i=0

while i<5:
    i+=1
    if i==3:
        break
    print(i)

1
2

### In the loop, when i is 3, jump directly to the next iteration.

In [205]:
i=0

while i<5:
    i+=1
    if i==3:
        continue
    
    print(i)

1
2
4
5

### Print a message once the condition is false.

In [206]:
i=0

while i<5:
    i+=1
    if i==3:
         continue 
    else:
        print("i != 3" + "," + "i = " + str(i))

i != 3,i = 1
i != 3,i = 2
i != 3,i = 4
i != 3,i = 5

### In the loop, when the item value is "banana", jump directly to the next item.

In [207]:
fruits=["apple","banana","orange"]

In [208]:
for x in fruits:
    if x=="banana":
        continue
    print(x)

apple
orange

### Use the range function to loop through a code set 6 times.

In [209]:
x=0

In [210]:
for x in range(6):
    x+=1
    print(x)

1
2
3
4
5
6

### Exit the loop when x is "banana".

In [211]:
fruits=["apple","banana","orange"]

In [212]:
for x in fruits:
    if x=="banana":
        break
    print(x)

apple

### Create a function named my_function.

In [213]:
def my_function(x):
    return

### Execute a function named my_function.

In [214]:

def my_function(x):
    return x+10

In [215]:
my_function(10)

20

### Inside a function with two parameters, print the first parameter.

In [216]:
def my_function(x,y):
    print("my first parameter is: " + str(x))

In [217]:


my_function(300,20)

my first parameter is: 300

### Let the function return the x parameter + 5.

In [106]:
def my_function(x):
    return x+5

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [107]:
def myFunction(**x):
    return x

### If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [108]:
def myFunction(*y):
    return y

### Create a lambda function that takes one parameter (a) and returns it.

In [109]:
n= 35

In [110]:
y=lambda n: "greater than 10" if n>10 else "less than or equal to 10"

In [111]:
y(n)

'greater than 10'